body{
    background-color: gray;
}

.container{
    height: 100vh;
    background-color: #ececa7;
    width: 100%;
    max-width: 1366px;
    margin:0 auto;
    padding:25px 25px 0 25px;
    box-sizing: border-box;

}

.circulo{
    background-color: orange;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    
    
    
}

/* RECTANGULO LADOS CIRCULARES */
.rectangulo{
    
    margin-top: 50px;
    background-color: orange;
    height: 250px;
    width: 700px;
    border-radius: 30px;

}