body {
  background-color: gray;
}

.container {
  height: 100vh;
  background-color: #ececa7;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
}

.circulo {
  background-color: orange;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.rectAzul {
  background-color: blue;
  height: 200px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
  flex-grow: 1;
}

/* RECTANGULO LADOS CIRCULARES */
.rectangulo {
  background-color: orange;
  height: 650px;
  border-radius: 150px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.rectanguloBlanco {
  height: 300px;
  background-color: white;
  margin-top: 80px;
  flex-grow: 1;
  margin-left: 50px;
  margin-right: 50px;
}

/* Figuras verdes 1 */
.verde {
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.circuloVerde {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: rgb(9, 90, 10);
  margin-left: 50px;
  margin-right: 50px;
}

.rectanguloVerde {
  flex-grow: 1;
  background-color: rgb(15, 221, 118);
  margin-left: 70px;
  height: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

/* FIGURAS VERDES 2 */

.verde2 {
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.circuloVerde2 {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: rgb(9, 90, 10);
  margin-left: 50px;
  margin-right: 50px;
}

.rectanguloVerde2 {
  margin-left: 40px;
  flex-grow: 1;
  background-color: rgb(15, 221, 118);
  margin-left: 50px;
  margin-right: 50px;
  height: 300px;
}

footer {
  margin-top: 120px;
  display: flex;

  height: 69rem;
  background-color: rgb(38, 34, 34);
}

.circuloNaranja2 {
  background-color: orange;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 80px;
}
